th, td {
    border: solid;
    padding-left: 40px;
    padding-top: 20px;
}

.table1 {
    caption-side: bottom;
}

.table2 {
    border-collapse: collapse;
}

.table3 {
    caption-side: bottom;
    border-collapse: collapse;
}